.lista-produtos{
    max-width: 20pc;
    margin: 8pc auto 10px;
    padding: 0 20px;
    min-width: 100%;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

.lista-produtos article{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 0px 5px  20px;
    padding-bottom: 10px;
}

.lista-produtos article a{
    height: 42px;
    border-radius: 5px;
    border: 1px solid #712fda;
    background: none;
    margin:10px 10px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-produtos article a:hover{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #712fda;
    background: #712fda;
    color: #FFF;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.lista-produtos article img{
    color: #FFF;
    height: 15pc;
    width: 20pc;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    background: #712fda;
}
.lista-produtos article div{
    display: block;
    margin:10px 15px 10px;
}

